services:
  web:
    build: .
    container_name: innera-app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./static:/app/static:ro
      - ./templates:/app/templates:ro
